body, main, ul, li, h1, h2, p {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 color: oldlace;
 text-align: center;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
 font-family: 'Sansita One', cursive;
 font-size: 14px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  width: 100%;
  height: 1200px;
  background-image: url("./wallpaper.jpg");
}

body, #main, .wrapper {
  height: 100%;
}
.keyboard, .song {
  padding: 4% 1%;
  width: 92%;
  height: 15%;
  margin: 2% auto;
  background: linear-gradient(#bfd3df, #7BA3BD, #46708c);
  box-shadow: inset 3px 3px 2px #223c46;
  position: relative;
}

.octave {
  width: 100%;
  height: 18%;
  top: 65%;
  position: absolute;
}

.label {
  text-align: left;
  margin: 1.5% 0;
  bottom: -55%;
  left: 20%;
  position: absolute;
}

.black .label {
  top: -158%;
  left: 12%
}

h1 {
  position: absolute;
  top: 0;
  left: 40%;
  font-size: 42px;
  padding: 1%;
  text-shadow: 4px 4px 7px #BF7F00, -4px -4px 7px #BF7F00;
}

.key {
  padding: 0;
  float: left;
  display: block;
  border-radius: 0 3% 3% 3%;
  height: 100%;
  width: 2.4%;
  border: 2.33px outset #f9e2b7;
  border-top: none;
  position: relative;
  background: #fdf5e6;
  top: 0;
  font-size: 16px;
}

.key:before {
  border-top: 2.33px outset #f9e2b7;
  border-left: 2.33px outset #f9e2b7;
  border-right: 2.33px outset #f9e2b7;
  border-bottom: none;
  height: 142%;
  border-radius: 3% 3% 0 3%;
  top: -142%;
  display: block;
  width: 59%;
  z-index: 0;
  position: absolute;
  background: #fdf5e6;
  content: "";
}

.black:before {
  display: block;
  top: -113%;
  height: 150%;
  width: 44%;
  border-right: 2.66px outset #000;
  border-top: 1.66px outset #000;
  border-left: 2.66px outset #333;
  border-bottom: 1.66px outset #1a1a1a;
  z-index: 2;
  right: 6%;
  background: #1a1a1a;
}

.C:before {
  left: -9%;
}

.F:before {
  left: -8%;
}

.D:before {
  left: 12%;
}

.A:before {
  left: 14%;
}

.B:before, .E:before {
  right: -7%;
}

.G:before {
  left: 5.5%;
}

.black {
  background: transparent;
  border: none;
  display: block;
  box-shadow: none;
  margin: -1.49%;
  top: 0%;
}

.C-sharp:before {
  right: 22.5%;
}

.F-sharp:before {
  right: 22%;
}

.D-sharp:before {
  right: 1%;
}

.A-sharp:before {
  right: -2%;
}

.G-sharp:before {
  right: 8%;
}

.black-active:before {
  border: 2.66px inset black;
  box-shadow: inset 1px 1px 1px black;
}

.active {
  border: 1.66px inset #f9e2b7;
}

.key:hover .label, .active .label, .black-active .label {
  text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
}

.active:before {
  border-left: 2.9px inset #f9e2b7;
  border-right: 1.66px inset #f9e2b7;
  border-top: 1.66px inset #f9e2b7;
}

.song {
  padding: 4px 0;
  width: 94%;
}

.song-menu {
  list-style: none;
  text-align: left;
  height: 75%;
  width: 14%;
  padding: 2%;
  float: left;
  display: block;
  border-right: 1px solid oldlace;
}

.song-title {
  height: 10%;
  text-align: left;
  padding: 5% 0 2% 0;
  border-bottom: 1px solid oldlace;
  cursor: pointer;
}

.active-title {
  color: #1a1a1a;
  border-color: #BF7F00;
}

.song-text {
  height: 75%;
  width: 75%;
  padding: 2%;
  float: right;
  display: block;
  overflow-y: scroll;
}

.song-text > p {
  letter-spacing: 6px;
  text-align: center;
  width: 66%;
  text-transform: uppercase;
  font-style: normal;
  font-size: 22px;
  color: #1a1a1a;
}
